{config_load file=test.conf section="setup"}
{include file="header.tpl"}
{if $validate}
	{include file="sidebar.tpl"}
{else}
	{include file="login.tpl"}
{/if}
<td valign="top">
	<center>
	<h3>Password Changed Successfully!</h3>
	<a href="?"><font class="text_u">Back</font></a><font class="text"> To Home.</font>
	</center>
</td>
{include file="footer.tpl"}