{config_load file=test.conf section="setup"}
{include file="header.tpl"}
{if $validate}
	{include file="sidebar.tpl"}
{else}
	{include file="login.tpl"}
{/if}
<td valign="top">
<h3>Credit Card Payment</h3>
{foreach from=$errormsg item=error}
	<font class="error">{$error}</font><br>
{/foreach}
<p>
	Credit Card Payment has done successfully!
	<br><br>
	Credit Card No : <b>{$cc_no}</b>
	<br><br>
	Account No : <b>{$a_no}</b>
	<br><br>
	Amount : <b>{$amount}</b>
</p>
<a href="?opt=transfer"><font class="text_u">Back</font></a><font class="text"> To Credit Card.</font>
</td>
      </tr>
    </table></td>
{include file="footer.tpl"}