{config_load file=test.conf section="setup"}
{include file="header.tpl"}
{if $validate}
	{include file="sidebar.tpl"}
{else}
	{include file="login.tpl"}
{/if}
<td valign="top">
	<center>
	<h3>{if $type == 'add'}Add{else}Edit{/if} Successfully!</h3>
	<p>
	A mail has sent to your new Email Address. Please check your mail to verify your new Email Address.
	</p>
	<br>
	<a href="?opt=email"><font class="text_u">Back</font></a><font class="text"> To Email List.</font>
	</center>
</td>
{include file="footer.tpl"}