{config_load file=test.conf section="setup"}
{include file="header.tpl"}
{if $validate}
	{include file="sidebar.tpl"}
{else}
	{include file="login.tpl"}
{/if}
<td valign="top"><h3>News</h3>
<p>
03-10-2004
<br>
D-Bank Online Banking System will be down for system maintenance at 04-01-2004 from 0100 to 0300, we appologies on any unconvenient caused. The system will be up and available as soon as possible. Thank you for supporting D-Bank services.
</p>
<hr>
<p>
30-09-2004
<br>
D-Bank Online Banking System is start to commencement on 30th September 2004. Please check out our services that available in the system and the terms and condition that helps protect customer. Thank you for supporting D-Bank services.
</p>
<hr>
</td>
      </tr>
    </table></td>
{include file="footer.tpl"}