  <tr>
    <td><table width="100%"  border="0" cellpadding="10">
      <tr>
        <td width="150" height="400" valign="top" class="orangetb">
		<font class="error">{$error_login}</font>
		<form method="post" action="?">
		<p>User ID<br>
            <input type="text" name="login_user" class="textbox1">
          </p>
          <p>Password<br>
            <input type="password" name="login_password" class="textbox1">
          </p>
          <p>
			<input type="hidden" name="opt" value="login">
            <input type="submit" value="Login" class="button1">
         </p>
 		  </form>
          <p><a href="?opt=register">Sign Up</a></p></td>