{config_load file=test.conf section="setup"}
{include file="header.tpl"}
{if $validate}
	{include file="sidebar.tpl"}
{else}
	{include file="login.tpl"}
{/if}
<td valign="top">
<h3>Photo</h3>
{foreach from=$errormsg item=error}
	<font class="error">{$error}</font><br>
{/foreach}
<table border="0" cellpadding="1" cellspacing="1">
{if $empty eq "no"}
	<tr class="blacktb">
		<td align="center">{$img_url}</td>
	</tr>
	<tr>
		<td>{$status}</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
{/if}
<tr>
	<td>
		<form enctype="multipart/form-data" method="post" action="?">
		<input type="hidden" name="opt" value="photo">
		<input type="hidden" name="cid" value="{$cid}">
		<input type="hidden" name="MAX_FILE_SIZE" value="2000000">
		<input name="userfile" type="file" class="button2">
		<br>
		<input type="submit" value="Upload File" class="button1">
		</form>
	</td>
</tr>
</table>
</td>
      </tr>
    </table></td>
{include file="footer.tpl"}