<tr>
    <td><table width="100%"  border="0" cellpadding="10">
      <tr>
        <td width="150" height="400" valign="top" class="orangetb">
		  <font class="text">Personal Profile</font><br>
		  <a href="?opt=address">Address</a><br>
  		  <a href="?opt=phone">Phone</a><br>
  		  <a href="?opt=email">Email</a><br>
		  <a href="?opt=photo">Photo</a><br>
		  <a href="?opt=change_pass">Change Password</a><br>
		  <br>
		  <font class="text">Service</font><br>
		  <a href="?opt=balance">Balance Inquiry</a><br>
		  <a href="?opt=account">View Account</a><br>
		  <a href="?opt=transfer">Fund Transfer</a><br>
		  <a href="?opt=history">Transaction History</a><br>
		  <a href="?opt=creditcard">Credit Card Payment</a><br>
		  <a href="?opt=bill">Bill Payment</a><br>
		  <br>
		  <form method="post" action="?">
			  <input type="hidden" name="opt" value="logout">
			  <input type="submit" value="Logout" class="button1">
		  </form>
        </td>