{config_load file=test.conf section="setup"}
{include file="header.tpl"}
{if $validate}
	{include file="sidebar.tpl"}
{else}
	{include file="login.tpl"}
{/if}
<td valign="top">
	<center>
	<h3>Sign Up Successfully!</h3>
	</center>
</td>
{include file="footer.tpl"}