{config_load file=test.conf section="setup"}
{include file="header.tpl"}
{if $validate}
	{include file="sidebar.tpl"}
{else}
	{include file="login.tpl"}
{/if}
<td valign="top">
<h3>Fund Transfer</h3>
{foreach from=$errormsg item=error}
	<font class="error">{$error}</font><br>
{/foreach}
<p>
{if $limit == '1'}
	Transaction has done successfully!
{else}
	Transaction has been added to pending status!
{/if}
</p>
<a href="?opt=transfer"><font class="text_u">Back</font></a><font class="text"> To Fund Transfer.</font>
</td>
      </tr>
    </table></td>
{include file="footer.tpl"}