{config_load file=test.conf section="setup"}
{include file="header.tpl"}
{if $validate}
	{include file="sidebar.tpl"}
{else}
	{include file="login.tpl"}
{/if}
<td valign="top">
	<h3>Verify Email</h3>
	{if $success=='yes'}
		Email Verified.
	{else}
		Error Occurs.
	{/if}
</td>
      </tr>
    </table></td>
{include file="footer.tpl"}