<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="description" content="{$meta_desc}">
<meta name="keywords" content="{$meta_keywds}">
<script src="{$img_path}functions.js" type="text/javascript" language="javascript"></script>
<link href="{$img_path}style.css" rel="stylesheet" type="text/css">

<title>{$site_name}</title>

</head>

<body>
<table width="100%" border="0">
  <tr>
    <td height="55"><a href="{$url}"><img src="{$img_path}logo.jpg" width="223" height="53" border="0"></a></td>
  </tr>
  <tr>
    <td colspan="2" class="blacktb" height="21">&nbsp</td>
  </tr>
    <tr>
    <td colspan="2">
		<table width="100%"  border="0" cellpadding="10">
      		<tr>
        		<td width="100%" height="400" valign="bottom" align="center">