{config_load file=test.conf section="setup"}
{include file="header.tpl"}
					<table border="0" width="300">
					<tr>
						<td><img src="{$img_path}tower.jpg"></td>
					</tr>
					<tr>
						<td>
							<br><br><br>
						</td>
					</tr>
					<tr>
						<td class="blacktb" align="left">
						<a href="{$customer_url}">> Customer's site</a>
						</td>
					</tr>
					<tr>
						<td class="blacktb" align="left">
						<a href="{$admin_url}">> Administrator Control Panel</a>
						</td>
					</tr>
					<tr>
						<td>
							<br><br>
						</td>
					</tr>
					</table>
{include file="footer.tpl"}