{config_load file=test.conf section="setup"}
{include file="header.tpl"}
<h3>Account Opened !</h3>
<p>
Your New Account No: <b>{$account_no}</b>
<br><br>
<a href="?opt=customer&act=account&id={$cid}"><font class="text_u">Back</font></a><font class="text"> To Account List.</font>
{include file="footer.tpl"}