{config_load file=test.conf section="setup"}
{include file="header.tpl"}
<h3>Credit Card Created !</h3>
<p>
Your New Credit Card No: <b>{$cc_no}</b>
<br><br>
<a href="?opt=customer&act=cc&id={$cid}"><font class="text_u">Back</font></a><font class="text"> To Credit Card List.</font>
{include file="footer.tpl"}