{config_load file=test.conf section="setup"}
{include file="header.tpl"}
<h3>{if $type == 'add'}Add{else}Edit{/if} Successfully!</h3>
<a href="?opt=customer&act=phone&id={$cid}"><font class="text_u">Back</font></a><font class="text"> To Phone List.</font>
{include file="footer.tpl"}