<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="description" content="{$meta_desc}">
<meta name="keywords" content="{$meta_keywds}">
<script src="{$img_path}functions.js" type="text/javascript" language="javascript"></script>
<link href="{$img_path}style.css" rel="stylesheet" type="text/css">

<title>{$site_name} Administrator</title>

</head>

<body>
<table width="100%" border="0">
  <tr>
    <td height="55"><a href="{$url}"><img src="../img/logo.jpg" width="223" height="53" border="0"></a></td><td align="right"><br><br><font class="text">Administrator Control Panel v0.1a</font></td>
  </tr>
  <tr>
    <td colspan="2" height="21" class="blacktb"> | {if $validate == '1'}<a href="?opt=setting">Global Setting</a> | {/if}<a href="?opt=customer">Customer</a> | {if $validate == '1'}<a href="?opt=photo">Photo</a> | {/if}{if $validate == '1'}<a href="?opt=approve">Approve Transaction</a> | {/if}{if $validate != '3'}<a href="?opt=participant">Participant</a> | {/if}{if $validate == '1'}<a href="?opt=mail">Mail</a> | {/if}{if $validate != '3'}<a href="?opt=report">Report</a> | {/if}{if $validate == '1'}<a href="?opt=weblog">Web Log</a> | {/if}<a href="?opt=logout">Logout</a> | </td>
  </tr>
    <tr>
    <td colspan="2">
		<table width="100%"  border="0" cellpadding="10">
      		<tr>
        		<td width="100%" height="400" valign="top">