<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="description" content="{$meta_desc}">
<meta name="keywords" content="{$meta_keywds}">
<script src="{$img_path}functions.js" type="text/javascript" language="javascript"></script>
<link href="{$img_path}style.css" rel="stylesheet" type="text/css">

<title>D-Bank Administrator</title>

</head>

<body>
<table width="100%" border="0">
  <tr>
    <td height="55"><a href="{$url}"><img src="../img/logo.jpg" width="223" height="53" border="0"></a></td><td align="right"><br><br><font class="text">Administrator Control Panel v0.1a</font></td>
  </tr>
  <tr>
    <td colspan="2" class="blacktb" height="21">&nbsp</td>
  </tr>
    <tr>
    <td colspan="2">
		<table width="100%"  border="0" cellpadding="10">
      		<tr>
        		<td width="100%" height="400" valign="top" align="center">
					<form method="post" action="?">
					<table border="0">
					<tr>
						<td class="blacktb" align="left">Username</td>
					</tr>
					<tr>
						<td>
							<input type="text" name="admin_login_user">
						</td>
					</tr>
					<tr>
						<td class="blacktb" align="left">Password</td>
					</tr>
					<tr>
						<td>
							<input type="password" name="admin_login_password">
						</td>
					</tr>
					<tr>
						<td class="blacktb" align="center">
							<input type="submit" value="Login" class="button1">
							{$validate}
						</td>
					</tr>
					</table>
					</form>
				</td>
			</tr>
		</table>
	</td>
</table>
<hr>
<center>
<font class="address">{$meta_copy}</font>
</center>
</body>
</html>