{config_load file=test.conf section="setup"}
{include file="header.tpl"}
<h3>Mail</h3>
<table border="0">
	<tr>
		<td class="whitetb">Mail sent successfully!</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td class="blacktb">Receiver :</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
{foreach from=$receiver item=receiver_item}
	<tr><td class="whitetb">{$receiver_item}</td></tr>
{/foreach}
</table>
<br>
<a href="?opt={$from}"><font class="text_u">Back</font></a><font class="text"> To {$from_t}.</font>
{include file="footer.tpl"}