.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#FF9000;
	text-decoration: none;
}

.big {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color:#000000;
	text-decoration: none;
}
.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#000000;
	text-decoration: none;
}

.text1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#ffffff;
	text-decoration: none;
}

.text_u {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#000000;
	text-decoration: underline;
}

.error {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#ff0000;
	text-decoration: none;
}

.blacktb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #000000;
}

.whitetb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	background-color: #ffffff;
}

.greytb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	background-color: #cccccc;
}

.orangetb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	color: #000000;
	text-decoration: none;
	background-color: #FF9000;
}

.orangetb1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	color: #000000;
	text-decoration: none;
	background-color: #FFbb50;
}

.address {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

.textbox1 {
	float: none;
	height: 18px;
	width: 130px;
}

.textboxname {
	float: none;
	height: 18px;
	width: 150px;
}

.textboxpassword {
	float: none;
	height: 18px;
	width: 150px;
}

.textboxlong {
	float: none;
	height: 18px;
	width: 250px;
}

.button1 {
	border: thin solid #CCCCCC;
	color: #FFFFFF;
	background-color: #000000;
}

.button2 {
	border: thin solid #CCCCCC;
	color: #000000;
	background-color: #FFFFFF;
}

a:link 				   {color:#ffffff;	text-decoration: none;}
a:visited			   {color:#ffffff;	text-decoration: none;}
a:hover				   {color:#000000;  text-decoration:none; background:#ffffff;}

p {font-family: Arial, Helvetica, sans-serif; font-size: 14px; color:#000000; text-decoration: none;}
h3 { font-family: Arial, Helvetica, sans-serif;	font-size: 20px; color:#000000;  text-decoration:none; }
h4 { font-family: Arial, Helvetica, sans-serif;	font-size: 16px; color:#000000;  text-decoration:none; }
hr { color:#000000; height:1px; }